[package]
name = "docbox"
version = "0.7.1"
edition = "2024"

license.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
# Environment variables
dotenvy = "=0.15.7"

# Docbox HTTP layer
docbox-http.workspace = true

# Asynchronous runtime & Helpers
tokio = { workspace = true, features = ["full"] }
futures.workspace = true

aws-config.workspace = true

# Background task scheduler
tokio-simple-fixed-scheduler = "=0.1.0"

# HTTP server framework
axum = { version = "=0.8.8", features = ["multipart"] }

# HTTP server implementation
axum-server = { version = "=0.8.0", features = ["tls-rustls"]}

# Crypto provider
rustls = { version = "=0.23.36", features = ["aws-lc-rs"] }

# HTTP layers for ratelimiting, CORS, and tracing
tower-http = { version = "=0.6.8", features = ["limit", "cors", "trace"] }

# Error handling
thiserror.workspace = true

# Logging
tracing.workspace = true
tracing-subscriber = { version = "0.3.22", features = ["env-filter", "json"] }

# Sentry
sentry = { version = "=0.46.1", default-features = false, features = [
    "backtrace",
    "contexts",
    "debug-images",
    "panic",
    "release-health",
    "tracing",
    "reqwest",
    "rustls",
] }
sentry-tracing = "=0.46.1"

# Cloudwatch logging
aws-sdk-cloudwatchlogs = "1.118.0"

# Git dependency until: https://github.com/ymgyt/tracing-cloudwatch/pull/52
tracing-cloudwatch = { version = "0.3.1", features = ["awssdk"], git = "https://github.com/jacobtread/tracing-cloudwatch.git", rev = "934eb1d19c0a758cd870f20dbba95259f8a347d3" }
