[package]
name = "docbox"
version = "0.6.0"
edition = "2024"

license.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
# Environment variables
dotenvy = "=0.15.7"

# Docbox HTTP layer
docbox-http.workspace = true

# Asynchronous runtime & Helpers
tokio = { workspace = true, features = ["full"] }
futures.workspace = true

# Background task scheduler
tokio-simple-fixed-scheduler = "=0.1.0"

# HTTP server framework
axum = { version = "=0.8.8", features = ["multipart"] }

# HTTP server implementation
axum-server = { version = "=0.8.0", features = ["tls-rustls"]}

# Crypto provider
rustls = { version = "=0.23.35", features = ["aws-lc-rs"] }

# HTTP layers for ratelimiting, CORS, and tracing
tower-http = { version = "=0.6.8", features = ["limit", "cors", "trace"] }

# Error handling
thiserror.workspace = true

# Logging
tracing.workspace = true
tracing-subscriber.workspace = true

# Sentry
sentry = { version = "=0.46.0", default-features = false, features = [
    "backtrace",
    "contexts",
    "debug-images",
    "panic",
    "release-health",
    "tracing",
    "reqwest",
    "rustls",
] }
sentry-tracing = "=0.46.0"
