# RELEASE_VERSION=0.3.2 cargo make -t docker-publish-alpine
[tasks.docker-publish-alpine]
workspace = false
command = "docker"
args = [
    "buildx",
    "build",
    "--platform",
    "linux/amd64,linux/arm64",
    "-t",
    "jacobtread/docbox:${RELEASE_VERSION}-alpine-prebuilt",
    "-t",
    "jacobtread/docbox:latest-alpine-prebuilt",
    "-f",
    "./containers/prebuilt.alpine.Dockerfile",
    "--push",
    ".",
    "--build-arg",
    "GITHUB_RELEASE_VERSION=${RELEASE_VERSION}",
]

# RELEASE_VERSION=0.3.2 cargo make -t docker-publish-bookworm
[tasks.docker-publish-bookworm]
workspace = false
command = "docker"
args = [
    "buildx",
    "build",
    "--platform",
    "linux/amd64,linux/arm64",
    "-t",
    "jacobtread/docbox:${RELEASE_VERSION}-bookworm-prebuilt",
    "-t",
    "jacobtread/docbox:latest-bookworm-prebuilt",
    "-t",
    "jacobtread/docbox:${RELEASE_VERSION}",
    "-t",
    "jacobtread/docbox:latest",
    "-f",
    "./containers/prebuilt.bookworm.Dockerfile",
    "--push",
    ".",
    "--build-arg",
    "GITHUB_RELEASE_VERSION=${RELEASE_VERSION}",
]

# cargo make -t docker-compose-up
[tasks.docker-compose-up]
workspace = false
command = "docker"
args = [
    "compose",
    "-f",
    "./containers/docker-compose.yml",
    "up",
    "-d"
]

# cargo make -t docker-compose-down
[tasks.docker-compose-down]
workspace = false
command = "docker"
args = [
    "compose",
    "-f",
    "./containers/docker-compose.yml",
    "down"
]
