[package]
name = "docbox-management"
version = "0.9.0"
edition = "2024"
description = "Management core library for managing docbox used by the cli and other tools"

license.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
# Core business logic
docbox-core.workspace = true

# Serialization and JSON
serde.workspace = true
serde_json.workspace = true

# Request for making requests to the docbox server
reqwest.workspace = true

# Logging
tracing.workspace = true

# Error handling
thiserror.workspace = true

# AWS configuration
aws-config.workspace = true

# Random for random password generation
rand = "0.9.2"

tokio.workspace = true
futures.workspace = true
